<!DOCTYPE html>
<html>
  <body>
    <h2>Users</h2>

    <form action = "{{ request.path }}" method = "post">
      <label for = "name">Name</label><br>
      <input type = "text" name = "name" placeholder = "name"/><br>
      <label for = "email">Email</label><br>
      <input type = "text" name = "email" placeholder = "email"/><br>
      <label for = "password">Password</label><br>
      <input type = "text" name = "password" placeholder = "password"/><br>
      <label for = "comments">Comments</label><br>
      <textarea name = "comments" placeholder = "comments"></textarea><br>
      <input type = "submit" value = "Submit" /> 
    </form>

  </body>
</html>
